$black: #000000;
$white: #fff;
$gray: #f2f4f8;
$blue: #0f64da;
$blue-gray: #e7f0fc;
$off-black: #4d5158;
$off-gray: #f9fafc;
$off-white: #dde0e6;

$font-size-20: 20px;
$font-size-24: 24px;
$font-size-32: 32px;
$font-size-62: 62px;
$font-size-78: 78px;
